@page "/{ExternalAppPath}"
@using Client.Extensions
@using Client.Repositories.Menu

@inject IMenuRepository MenuRepository

<PageTitle>Weather App</PageTitle>

<h1>
  @if (_dynamicType is not null)
  {
    <DynamicComponent Type="_dynamicType" @ref="_dynamicComponent" Parameters="_parameters" />
  }

</h1>

@code {
  [Parameter] public string ExternalAppPath { get; set; } = "";
  private Type? _dynamicType;
  private DynamicComponent? _dynamicComponent;
  Dictionary<string, object>? _parameters;

  protected override async Task OnInitializedAsync()
  {
    _parameters = new() { { "Token", "TokenFromShell" } };

    var menuItem = MenuRepository.GetBy(ExternalAppPath);
    if (menuItem == null || menuItem.Type == "internal")
    {
      return;
    }

    var assemblyName = $"{menuItem.Name}App";
    var assembly = await AssemblyLoader.Load(assemblyName);

    _dynamicType = assembly.GetType("CounterApp.Components.Pages.Counter");
  }
}
