@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Micro Frontend Counter</h1>

<p role="status">Current token: @Token</p>
<p role="status">Current count: @CurrentCount</p>

<button @onclick="IncrementCount">Click me</button>

@code {
  [Parameter]
  public string Token { get; set; } = "";
  private int CurrentCount = 0;

  private void IncrementCount()
  {
    CurrentCount++;
  }
}
